.header {
  align-items: center;
  background-color: blueviolet;
  color: white;
  display: flex;
  height: 3.5rem;
  justify-content: space-evenly;
}

.header button {
  background: 0;
  border: 0;
  filter: invert(100%)
    sepia(34%)
    saturate(146%)
    hue-rotate(328deg)
    brightness(110%)
    contrast(100%);
}

.header > h1 {
  margin: 0;
}

.headerFilters {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2.5rem 0;
}
