.detailsImgAndName {
  align-items: center;
  display: flex;
  justify-content: center;
}

.detailsNameAndCategory {
  text-align: center;
}

.detailsIngredientsContainer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 20rem;
  justify-content: center;
  margin: 1rem 0;
  overflow: auto;
}

.detailsIngredients {
  width: 8rem;
}

.detailsInstructions {
  margin: 4rem 2rem;
}

.recommendationCards {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.recommendationImage {
  margin: 1rem;
  width: 11rem;
}

.recomendations {
  column-gap: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 3rem 0;
  overflow-x: auto;
  row-gap: 20px;
}

.detailsStartRecipe {
  background-color: blueviolet;
  border: 0;
  bottom: 0;
  color: white;
  left: 0;
  padding: 1rem;
  position: fixed;
  right: 0;
}
