a:hover {
  text-decoration: none;
}

.recipeContainer {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 4rem;
  text-align: center;
}

.recipeCard {
  color: blueviolet;
  margin: 1rem;
  width: 8rem;
}

.recipeImage {
  width: inherit;
}
